In [1]:
import os
import geopandas as gpd
import pandas as pd

In [2]:
base_dir = os.getcwd()
path = os.path.join(base_dir, 'artifacts', 'shp', 'br_geo_gdf.shp')
path

'c:\\Users\\guicr\\OneDrive\\Carreira\\Portfolio\\setores_censitarios\\artifacts\\shp\\br_geo_gdf.shp'

In [3]:
df = gpd.read_file(path)

In [4]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,309236,309237,309238,309239,309240,309241,309242,309243,309244,309245
Cod_setor,270010205000001,270010205000002,270010205000003,270010205000004,270010205000005,270010205000006,270010205000007,270010205000008,270010205000009,270010205000010,...,172210705000009,172210705000010,172210705000011,172210705000012,172210705000013,172210705000014,172210705000015,172210705000016,172210705000017,172210705000018
geometry,POLYGON ((-37.94455750550959 -9.26638986130343...,POLYGON ((-37.939220336062796 -9.2551294519147...,"POLYGON ((-37.935497053844 -9.26294597227394, ...",POLYGON ((-37.9784578138877 -9.274125810994919...,"POLYGON ((-37.9793072805401 -9.30699177969016,...","POLYGON ((-37.9377658770615 -9.20897513726626,...","POLYGON ((-37.9543041135979 -9.10952492973227,...",POLYGON ((-37.9445753240816 -9.178492483231981...,"POLYGON ((-37.9377658770615 -9.20897513726626,...","POLYGON ((-37.8749214138863 -9.18960207005347,...",...,"POLYGON ((-48.5315777569985 -6.4077233011296, ...",POLYGON ((-48.52921451940139 -6.41404190402603...,POLYGON ((-48.53060275286639 -6.38932392302837...,"POLYGON ((-48.5048340949583 -6.40943440425507,...",POLYGON ((-48.456457010893004 -6.4151994750756...,POLYGON ((-48.5702926461345 -6.420749559622839...,"POLYGON ((-48.5943505293713 -6.53387573802741,...",POLYGON ((-48.4155021339784 -6.514432093541809...,"POLYGON ((-48.375297390569 -6.34674881188944, ...","POLYGON ((-48.5000569355793 -6.45703099640867,..."

In [6]:
df.to_parquet('./artifacts/test_df.parquet')

In [10]:
test = gpd.read_parquet('./artifacts/br_geo_gdf.parquet')

In [12]:
test.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 309246 entries, 0 to 309245
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Cod_setor  309246 non-null  object
 1   geometry   309246 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 4.7+ MB

In [17]:
path1 = os.path.join(base_dir, 'artifacts', 'br_data.csv')

In [18]:
df1 = pd.read_csv(path1)

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309246 entries, 0 to 309245
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cod_setor            309246 non-null  int64
 1   domicilios           309246 non-null  int64
 2   renda                309246 non-null  float64
 3   Nome_da_UF           309246 non-null  object
 4   Nome_do_municipio    309246 non-null  object
 5   Nome_do_distrito     309246 non-null  object
 6   Nome_do_subdistrito  309246 non-null  object
 7   Nome_do_bairro       309246 non-null  object
 8   populacao            309246 non-null  float64
 9   area_ha              309246 non-null  float64
 10  densidade            309246 non-null  float64
 11  renda_dom            309246 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 28.3+ MB

In [25]:
len(df1['Nome_da_UF '].unique())

26

In [26]:
path = 'c:\\Users\\guicr\\OneDrive\\Carreira\\Portfolio\\setores_censitarios\\data\\AC_20231030\\Base informaÃ§oes setores2010 universo AC\\CSV\\Basico_AC.csv'
path1 = 'c:\\Users\\guicr\\OneDrive\\Carreira\\Portfolio\\setores_censitarios\\data\\AC_20231030\\Base informaÃ§oes setores2010 universo AC\\CSV\\Pessoa13_AC.csv'

In [27]:
def create_df(file):
    df = pd.read_csv(file, encoding='iso-8859-1', sep=';')
    if df.shape[1] < 2:
        df = pd.read_csv(file, encoding='iso-8859-1', sep=',')
    return df

In [28]:
df = create_df(path)

In [29]:
df

,Cod_setor,Cod_Grandes RegiÃµes,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,39","2,6","1368,91","37074622,68","1601,8","43033612,85","758,58","13786625,7","1249,62","22114423,28"
1,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,52","2,63","737,47","820504,57","805,8","841534,36","407,43","510601,28","716,42","676770,34"
2,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,53","2,88","606,4","1108707,24","767,15","1279744,31","411,93","757913,63","689,39","1077559,69"
3,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,43","2,48","758,51","349158,22","837,52","318721,06","426,47","278588,4","684,34","270475,43"
4,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,18","2,32","689,61",332081,"735,59","320270,31","446,56","833770,63","748,21","1173535,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,75","3,61","547,58","195396,18","657,1","161840,91","353,71","177569,99","621,67","145183,92"
870,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,6","3,78","270,96","107290,21","506,39","80856,78","158,45","75291,86","484,06","72373,89"
871,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,57","3,68","791,45","703129,95","862,23","704998,31","429,52","433505,97","781,32","514081,78"
872,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"4,11","4,62","213,57","58609,29","427,14","23484,13","134,81","64970,31","433,32","80019,71"
873,"1,20E+14",1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,73","3,48","597,69","256010,81","654,45","243103,41","327,43","224090,66","577,37","250916,41"

In [30]:
df1 = create_df(path1)

In [31]:
df1

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V126,V127,V128,V129,V130,V131,V132,V133,V134,Unnamed: 136
0,120001305000001,1,957,957,282,197,210,123,25,10,...,0,0,0,0,0,0,0,0,0,NaN
1,120001305000002,1,1211,1203,344,245,300,161,54,7,...,0,0,0,0,0,0,0,0,0,NaN
2,120001305000003,1,1705,1700,483,347,447,229,46,9,...,0,0,0,0,0,0,0,0,0,NaN
3,120001305000004,5,182,182,53,37,44,22,13,0,...,0,0,0,0,0,0,0,0,0,NaN
4,120001305000005,8,305,305,96,68,77,20,21,1,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,120080705000017,5,225,225,60,49,70,16,9,2,...,0,0,0,0,0,0,0,0,0,NaN
870,120080705000018,8,410,410,114,86,159,13,2,4,...,0,0,0,0,0,0,0,0,0,NaN
871,120080705000019,5,480,478,135,89,112,64,17,2,...,0,0,0,0,0,0,0,1,0,NaN
872,120080705000020,8,115,115,28,21,42,9,4,3,...,0,0,0,0,0,0,0,0,0,NaN
873,120080705000021,8,734,731,198,147,236,39,19,6,...,1,0,1,0,0,0,0,0,0,NaN

In [32]:
df['Cod_setor'] = df1['Cod_setor']

In [33]:
df

,Cod_setor,Cod_Grandes RegiÃµes,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,120001305000001,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,39","2,6","1368,91","37074622,68","1601,8","43033612,85","758,58","13786625,7","1249,62","22114423,28"
1,120001305000002,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,52","2,63","737,47","820504,57","805,8","841534,36","407,43","510601,28","716,42","676770,34"
2,120001305000003,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,53","2,88","606,4","1108707,24","767,15","1279744,31","411,93","757913,63","689,39","1077559,69"
3,120001305000004,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,43","2,48","758,51","349158,22","837,52","318721,06","426,47","278588,4","684,34","270475,43"
4,120001305000005,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,18","2,32","689,61",332081,"735,59","320270,31","446,56","833770,63","748,21","1173535,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,120080705000017,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,75","3,61","547,58","195396,18","657,1","161840,91","353,71","177569,99","621,67","145183,92"
870,120080705000018,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,6","3,78","270,96","107290,21","506,39","80856,78","158,45","75291,86","484,06","72373,89"
871,120080705000019,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,57","3,68","791,45","703129,95","862,23","704998,31","429,52","433505,97","781,32","514081,78"
872,120080705000020,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"4,11","4,62","213,57","58609,29","427,14","23484,13","134,81","64970,31","433,32","80019,71"
873,120080705000021,1,RegiÃ£o Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"3,73","3,48","597,69","256010,81","654,45","243103,41","327,43","224090,66","577,37","250916,41"

In [36]:
df.to_csv(path, sep=',', encoding='iso-8859-1', index=False)